<mat-toolbar class="mat-toolbar" color="primary">
  <button mat-icon-button aria-label="Menu icon" (click)="toggleMenu()">
    <mat-icon>menu</mat-icon>
  </button>
  <img src="assets/KhanimambaMasuka_transparent.svg" alt="" height="64"/>
</mat-toolbar>
<mat-sidenav-container autosize class="mat-sidenav-container">
  <mat-sidenav #sidenav [ngClass]="'expanded'" [mode]="'over'" [opened]="false">
    <mat-nav-list>
      <a mat-list-item routerLink="dashboard" routerLinkActive="active">
        <span class="entry">
          <mat-icon>house</mat-icon>
          <span>Dashboard</span>
        </span>
      </a>
      <a mat-list-item routerLink="pickup_schedule" routerLinkActive="active">
        <span class="entry">
          <mat-icon>schedule</mat-icon>
          <span>Pick Up Scheduling</span>
        </span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="global-background">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
