<mat-toolbar class="mat-toolbar" color="primary" style="height: 64px;">
  <button mat-icon-button aria-label="Menu icon" (click)="toggleMenu()">
    <mat-icon>menu</mat-icon>
  </button>
  <img src="assets/KhanimambaMasuka_transparent.svg" alt="" height="64"/>
</mat-toolbar>
<mat-sidenav-container autosize class="mat-sidenav-container">
  <mat-sidenav #sidenav [ngClass]="'expanded'" [mode]="'over'" [opened]="false">
    <mat-nav-list>
      <div style="display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%">
        <div>
          <a mat-list-item routerLink="dashboard" routerLinkActive="active">
        <span class="entry">
          <mat-icon>house</mat-icon>
          <span>Dashboard</span>
        </span>
          </a>
          <a mat-list-item routerLink="pickup_schedule" routerLinkActive="active">
        <span class="entry">
          <mat-icon>schedule</mat-icon>
          <span>Pick Up Scheduling</span>
        </span>
          </a>
        </div>
        <div style="height: 1px;background-color: #FFFFFF"></div>
        <div>
          <a mat-list-item (click)="handleLogout()">
        <span class="entry">
          <mat-icon>logout</mat-icon>
          <span>Log Out</span>
        </span>
          </a>
        </div>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="global-background">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
