<div style="display: flex;justify-content: space-between;
margin-top:10px;align-items: center">
  <p style="color: white;font-weight: 600">Pick Up Scheduling</p>
  <button mat-flat-button class="positive-button">Add</button>
</div>


<mat-table [dataSource]="dataSource" matSort
           style="margin-top: 20px;
    overflow:hidden !important;
border-top-left-radius: 10px;border-top-right-radius: 10px"
           class="mat-elevation-z8"
>
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef> ID</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.id }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="userId">
    <mat-header-cell *matHeaderCellDef> User ID</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.userId }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="pickupDate">
    <mat-header-cell *matHeaderCellDef> Pickup Date</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.pickupDate | date:'shortDate' }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="status">
    <mat-header-cell *matHeaderCellDef> Status</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.status }}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

<mat-paginator [pageSizeOptions]="[10, 20, 50]"
               showFirstLastButtons style="border-bottom-left-radius: 10px;
               border-bottom-right-radius: 10px;
                margin-bottom: 20px;"
></mat-paginator>
