/* You can add global styles to this file, and also import other style files */

body {
  margin : 0;
  font-family: Tahoma, sans-serif;
  background: #1f293a!important;
}

html, body { height: 100%; }
/*body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }*/
.global-background {
  background-color: #1f293a!important;
}

.positive-button{
  color: #FFFFFF!important;
  background-color: #4CBB17!important;
}

.negative-button{
  color: #FFFFFF!important;
  background-color: crimson!important;
}

.header{
  margin-top: 10px;
  color: white;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}
